// Navigation code here
.links{
    width:35%;
    .flex(space-between,center);
    margin:1% 0;

    a{
        color:@nav-font;
        text-decoration: none;
        font-size: 1.6rem;
    }//end of anchors
}//end of links nav